@import '../../../css/root';

.btns {
  width: 278px;
}

.title {
  margin-bottom: 20px;
  color: #FFF;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
  text-transform: capitalize;

  @media (max-width: 899px) {
    margin-bottom: 10px;
  }
}

.field {
  width: 290px;
  margin-top: 16px;
  align-items: center;
  display: flex;

  > div:nth-child(2) {
    margin-left: 18px;
  }

  @media (max-width: 899px) {
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;

    input, :global(.react-datepicker__input-container input) {
      width: 100%;
    }

    > div:nth-child(2) {
      margin-left: 0;
    }
  }
}

.form input[type="checkbox"] {
  height: 21px;
  width: 21px;
  box-shadow: inset 0 0 0 2px #016769;

  + label {
    color: #2EA4A5;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
  }

  &:checked {
    accent-color: #022529;
    background: #04E0EF;
  }
}

.registerButton {
  margin-top: 35px;
}

.form .checkboxField {
  width: 100%;
  margin-top: 20px;
  align-items: center;
  display: flex;

  input {
    min-width: 21px;
    min-height: 21px;
  }
}

.socialButtons {
  display: none;

  &.isGoogle {
    display: block;

    & > div {
      & > div {
        display: none;
      }

      & > :global(.google) {
        display: block;
      }
    }
  }

  &.disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}
