/* General styles */
.cafePageWrapper {
  overflow-x: hidden;
  min-height: 100vh;
  width: 100vw;
  background: url("/img/forest-bg.jpg") no-repeat center center / cover,
    linear-gradient(118.88deg, #01131a -2.2%, #002e2a 115.26%);
  background-blend-mode: luminosity;
  font-family: "Gilroy";
  justify-content: center;
  align-items: center;
  
  .cafeDetails{
    gap: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .eventCards{
    display: flex;
    gap: 20px;


  @media (max-width: 768px) {
    flex-direction: column;
  }
  
  }

  .header{
    display: flex ;
    justify-content: center;
    align-items: center;
    gap: 20px;

    h2{
      font-size: 32px;
    }
  }




}