@import "../../../css/root.css";

.app {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  min-height: 100vh;
  width: 100vw;
  background: url("/img/forest-bg.jpg") no-repeat center center / cover,
    linear-gradient(118.88deg, #01131a -2.2%, #002e2a 115.26%);
  background-blend-mode: luminosity;
}

/* NAVBAR STYLES */
.navbar {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  background-color: transparent;
}

.navbar__logo img {
  height: 40px;
  z-index: 99;
}

.navbar__nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navbar__list {
  list-style: none;
  display: flex;
  margin-left: 80px;
  gap: 55px;
}

.navbar__item a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  transition: color 0.3s;
}

.navbar__item a:hover {
  color: #58a6ff;
}

.navbar__actions {
  display: flex;
  align-items: center;
}

.navbar__icon__language {
  height: 34px;
  width: 34px;
}

.navbar__icon img {
  background-color: #23252834;
  border-radius: 100%;
  width: 34px;
  height: 34px;
  margin: 0 10px;
  padding: 5px;
  filter: invert(100%);
}

.navbar__profile {
  padding-left: 5px;
}

.sideSheet__close {
  z-index: 100;
}

.navbar__hamburger {
  z-index: 100;
  display: none;
}

.navbar__hamburger img {
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: none;
}

/* Media Query for small screens */
@media (max-width: 1020px) {
  .navbar {
    padding: 10px 30px;
  }

  .navbar__hamburger {
    display: block;
  }

  .navbar__nav,
  .navbar__actions > :not(.navbar__hamburger) {
    display: none;
  }

  .navbar__hamburger img {
    display: block;
  }
}

.sideSheetWrapper.open {
  display: block;
  position: absolute;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0a2225f9;
  opacity: 5;
  /* backdrop-filter:blur(3px); */
  z-index: 99;
}

.sideSheet {
  position: fixed;
  top: 100px;
  right: -100%;
  width: 65%;
  /* height: 100%; */
  background: linear-gradient(
    90deg,
    rgba(7, 99, 106, 0.6) 24.92%,
    rgba(8, 45, 56, 0.6) 103.14%
  );
  border: 3px solid #51afaf;
  border-radius: 10px;
  transition: right 0.3s;
  /* padding: 20px; */
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.227);
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
}

.sideSheetWrapper.open .sideSheet {
  right: 30px;
}

.sideSheet__close {
  font-size: 30px;
  cursor: pointer;
  text-align: right;
}

.sideSheet__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  /* padding: 0px  20px; */
  width: 100%;
}

.sideSheet__item {
  /* margin: 20px 0; */
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 1.5em;
  height: 50px;
  padding: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 3px solid #51afaf;
  transition: color 0.3s;

  a {
    text-decoration: none;
    color: #fff;
  }
}

.sideSheet__item a:hover {
  color: #58a6ff;
}

/* HeaderSection styles */
.headerSectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.headerSection {
  text-align: center;
  width: 100%;
  max-width: 560px;
  color: #ffffff;

  img {
    width: 30px;
    height: 30px;
  }
}

.headerSection__icon {
  font-size: 1.2em;
  margin-bottom: 1px;
  padding: 0.5em;
}

.headerSection__title {
  font-size: 2.5em;
  margin-bottom: 10px;
  font-weight: bold;
}

.headerSection__subtitle {
  font-size: 1.1em;
  font-weight: 600;
  color: #ffffff;
}

.headerSection__subtitle .highlight {
  color: #ff9900;
  font-weight: bold;
}

/* RegionSearch styles */
.searchBar {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.regionSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 88px;
  padding: 20px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(55, 82, 76, 0.373) 100%
  );
  background-blend-mode: overlay;
  border-radius: 2px;
  border-bottom: 2px solid #026d6dbe;
}

.regionSearch__dropdown {
  width: 250px !important;
  height: 54px !important;
  font-size: 1.6em !important;
}

.regionSearch__inputContainer {
  display: flex;
  align-items: center;
  background-blend-mode: overlay;
  backdrop-filter: blur(15px);
  border-radius: 5px;
  overflow: hidden;
}

.regionSearch__input {
  padding-left: 20px !important;
  height: 54px !important;
  border-radius: 30px !important;
  width: 350px !important;
  font-size: 1.2em !important;
  font-weight: bold !important;
  color: #45e5e578;
  text-align: left !important;
  outline: none;
  flex: 1;
  box-shadow: none;
  box-sizing: border-box;

  select {
    background-color: #00ffff;
    color: #000;
  }
}

.regionSearch__input:focus {
  outline: none;
}

.regionSearch__button {
  position: absolute;
  right: 0px;
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;

  img {
    filter: invert(100%);
  }
}

.regionSearch__button img {
  width: 16px;
  height: 16px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .headerSection__title {
    font-size: 2em;
  }

  .headerSection__subtitle {
    font-size: 1em;
  }

  .regionSearch {
    height: auto;
    padding: 5px;
    gap: 10px;
  }

  .regionSearch__dropdown,
  .regionSearch__inputContainer {
    margin-bottom: 10px;
  }

  .regionSearch__input {
    width: 280px !important;
  }

  .regionSearch__dropdown {
    width: 220px !important;
  }
}

@media (max-width: 590px) {
  .headerSection__title {
    font-size: 1.5em;
  }

  .headerSection__subtitle {
    font-size: 0.9em;
  }

  .regionSearch {
    padding: 5px;
    flex-direction: column;
  }

  .regionSearch__dropdown,
  .regionSearch__inputContainer {
    width: 360px !important;
    padding: 5px;
    margin-right: 0;
  }

  .regionSearch__input{
    padding: 5px;
  }

  .regionSearch__button {
    padding: 12px;
    right: 25px;
  }

  .regionSearch__button img {
    width: 14px;
    height: 14px;
  }
}

/* TimerSection styles */

.timerSectionWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.timerSection {
  width: 88%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 435px;
  background: linear-gradient(0deg, rgba(6, 34, 40, 0.8), rgba(6, 34, 40, 0.8)),
    linear-gradient(
      180deg,
      rgba(0, 255, 255, 0.05) 0%,
      rgba(0, 255, 255, 0) 100%
    );
  border-radius: 10px;
  color: #ffffff;
  flex-wrap: wrap;
}

.timerSection__countdown {
  background: url("/img/timertag.svg") no-repeat center center / cover,
    linear-gradient(
      180deg,
      rgba(0, 255, 255, 0.05) 0%,
      rgba(0, 255, 255, 0) 100%
    );
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.timerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  height: max-content;
  border-radius: 8px;
  text-align: center;
}

.timerBox span {
  font-size: 2em;
  font-weight: bold;
}

.timerBox small {
  font-size: 0.8em;
}

.timerSection__details {
  height: 100%;
  width: 50%;
  flex-grow: 1;
  padding: 30px 30px 60px 30px;
  border: 1px solid #00e5da46;
  /* border-image: linear-gradient(to right, #80ffb14b, #0bd3e557) 1 ; */
  border-radius: 0 8px 8px 0;
}

.timerSection__details h2 {
  font-size: 2.2em;
  margin-bottom: 20px;
}

.timerSection__details p {
  font-size: 1.5em;
  margin-bottom: 30px;
  font-weight: 600;
}

.timerSection__details .highlight {
  color: #ff9900;
  font-weight: bold;
}

.timerSection__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 1.2em;
}

.infoItem {
  display: flex;
  align-items: center;
}

.infoItem img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  filter: invert(100%);
}

.timerSection__actions {
  display: flex;
  gap: 20px;
}

.shareButton,
.joinButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.shareButton:hover,
.joinButton:hover {
  opacity: 0.8;
}

@media (max-width: 1200px) {
  .timerSection {
    flex-direction: column;
    height: auto;
  }

  .timerSection__countdown,
  .timerSection__details {
    width: 100%;
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .timerSection__countdown {
    flex-direction: row;
    gap: 8px;
  }

  .timerBox {
    padding: 10px;
  }

  .timerBox span {
    font-size: 1.5em;
  }

  .timerBox small {
    font-size: 0.7em;
  }

  .timerSection__details {
    padding: 15px;
  }

  .timerSection__details h2 {
    font-size: 1.2em;
  }

  .timerSection__details p {
    font-size: 0.9em;
  }

  .shareButton,
  .joinButton {
    padding: 8px 16px;
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  .timerSection__countdown {
    flex-direction: row;
    gap: 5px;
  }

  .timerSection__details {
    padding: 10px;
  }

  .timerSection__details h2 {
    font-size: 1em;
  }

  .timerSection__details p {
    font-size: 0.8em;
  }

  .shareButton,
  .joinButton {
    padding: 6px 12px;
    font-size: 0.8em;
  }
}

/* EventsSection styles */
.eventsSectionWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.eventsSection {
  width: 80%;
  flex: 1;
  padding: 0px 100px 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  &__header {
    margin-bottom: 20px;

    h2 {
      font-size: 2em;
      margin-bottom: 10px;
    }

    p {
      font-size: 1.2em;
      color: #8b949e;
    }
  }

  &__events {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    margin-top: 20px;
  }
}

/* EventCard styles */
.eventCard {
  box-sizing: border-box;
  background-color: #21262d;
  border-radius: 10px;
  border: 1px solid #00bcd4;
  margin: 10px;
  height: 390;
  width: 376px;
  color: #ffffff;
  text-align: center;
  transition: transform 0.3s ease;
  overflow: hidden;

  &:hover {
    transform: translateY(-10px);
  }

  &__image {
    height: 230px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    padding-bottom: 50px;
    padding-top: 20px;
    padding-right: 20px;
    height: 160px;
    line-height: 0.4;
    /* gap: 10px; */
    width: 100%;
    background: linear-gradient(
      180deg,
      rgba(0, 255, 255, 0.35) 0%,
      rgba(0, 255, 255, 0.1) 100%
    );
    border-radius: 0px 0px 10px 10px;

    h3 {
      font-size: 1.5em;
      margin-bottom: 30px;
    }

    .detail {
      display: flex;
      font-weight: bold;
      align-items: center;
      font-size: 1em;
      margin: 0 0;

      .icon {
        margin-right: 10px;
        filter: invert(100%);
      }
    }
  }

  @media (max-width: 768px) {
    width: 70vw;
  }

  @media (max-width: 480px) {
    width: 80vw;
  }
}

/* PAGINATION STYLES */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

.pagination button {
  background-color: transparent;
  border: none;
  font-size: 2em;
  cursor: pointer;
  color: #ffff;
}

.pagination button:disabled {
  cursor: not-allowed;
  color: #686666;
}

.paginationDots {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0 10px;
}

.paginationDots span {
  width: 15px;
  height: 3px;
  /* border-radius: 50%; */
  background-color: #fff;
}

.paginationDots span.active {
  background-color: #00ffff;
}

/* Footer styles */
.footer {
  bottom: 0;
  width: 100%;
  background: linear-gradient(118.88deg, #01131a -2.2%, #002e2a 115.26%);
  background-blend-mode: overlay;
  padding: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  border-top: 2px solid #1f4757;
  margin-top: 30px;

  &__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
    font-weight: 700;
    font-size: 1.2em;
    width: 100%;

    gap: 50px;
    /* width: 100%; */

    a {
      color: #edeff3;
      margin: 0 10px;
      text-decoration: none;
      place-content: center;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__socials {
    display: flex;
    align-content: stretch;
    gap: 50px;
  }

  @media (max-width: 1008px) {
    flex-direction: column;

    &__links {
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 20px;
    }

    &__socials {
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: center;
      gap: 50px;
    }
  }

  @media (max-width: 1400px) {
    &__links {
      gap: 30px;
    }
    /* 
    &__socials {
      display: none;
    } */
  }
}
