

.regionFilters {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: flex-end;
  background: linear-gradient(
    180deg,
    rgba(0, 255, 255, 0) 0%,
    rgba(0, 255, 255, 0.067) 100%
  );
  border-bottom: 1px solid #3fbab2;
  margin: 20px 0;

  button {
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 30px;
    border: none;
    border-radius: 0px;
    color: #3fbab2;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #3fbab2;
      color: #fff;
    }

    &.active {
      background: linear-gradient(
        180deg,
        rgba(0, 255, 255, 0) 0%,
        rgba(0, 255, 255, 0.35) 100%
      );
      color: #fff;
    }
  }

  /* @media (max-width: 768px) {
    .regionFilters {
      align-items: center;
      background: none;
      border-bottom: none;

      .regionSearch {
        flex-direction: column;
        gap: 10px;
        height: auto;
      }

      .regionSearch__dropdown {
        width: 100% !important;
      }
    }
  } */
}


/* RegionSearch styles */
/* .regionFiltersMobile {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 100%;
  
  .regionSearch{
    display: flex;
    justify-content: center;
    align-items: center;
  
    .regionSearch__dropdown {
    width: 250px !important;
    height: 54px !important;
    font-size: 1.6em !important;
  }
  }
} */



/* RegionSearch styles */
.regionFiltersMobile {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 500px;
}

.regionSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 88px;
  padding: 20px;

  background-blend-mode: overlay;
 
}

.regionSearch__dropdown {
  width: 250px !important;
  height: 54px !important;
  font-size: 1.6em !important;
}
