@import '../../../css/root';

.contentLeftBlock {
  height: 100%;
  width: 40%;
  padding: 80px 0;
  align-items: center;
  display: flex;
  flex-direction: column;

  @media (max-width: 1199px) {
    display: none;
  }
}

.contentRightBlock {
  height: 100%;
  width: 60%;
  padding: 80px 0;

  & form {
    align-items: flex-end;
    display: inline-flex;
    flex-direction: column;

    & > div {
      width: auto;
      margin-top: 8px;

      & label {
        margin-right: 8px;
        color: #fff;
        font-size: 16px;
        font-style: normal;
        font-weight: 800;
        line-height: 110%;
        text-align: right;
        text-transform: uppercase;
      }

      & input {
        height: 56px;
        width: 280px;
        color: #45E5E5;

        @media (max-width: 1199px) {
          height: 48px;
          width: 216px;
        }
      }
    }

    & :global .react-datepicker-wrapper {
      width: auto;
    }
  }

  @media (max-width: 1199px) {
    width: auto;
    padding-top: 40px;
    padding-bottom: 0;
  }
}

.contentWrapper {
  align-items: flex-end;
  display: inline-flex;
  flex-direction: column;
}

.contentWrapper :global(button.tertiary) {
  height: 56px;
  width: 280px;
  font-size: 16px;
}

.contentWrapper button.saveButton {
  margin-top: 20px;
  background: none;
  color: #088A8C;

  &:before {
    height: calc(100% - 8px);
    width: calc(100% - 8px);
    background: none;
    border: 2px solid rgba(128, 255, 255, 0.75);
  }
}

.avatarBlock {
  height: 144px;
  width: 144px;
  position: relative;
  align-items: center;
  border: 1px solid #9BFF70;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;

  @media (max-width: 1199px) {
    height: 96px;
    width: 96px;
  }
}

.wrapperAvatarBlock {
  align-items: center;
  display: flex;
  flex-direction: column;

  @media (max-width: 1199px) {
    flex-direction: row;
  }
}

.avatar {
  height: 120px;
  width: 120px;
  background: no-repeat center / cover;
  border: 1px solid #AFDD40;
  border-radius: 50%;

  & img {
    width: 120px;
  }

  @media (max-width: 1199px) {
    height: 80px;
    width: 80px;
  }
}

.camera {
  height: 40px;
  width: 40px;
  position: absolute;
  align-items: center;
  background: #FF7A00;
  border-radius: 50px;
  bottom: 0;
  display: flex;
  justify-content: center;
  right: 0;

  @media (max-width: 1199px) {
    height: 32px;
    width: 32px;

    img {
      height: 19px;
      width: 19px;
    }
  }
}

.modalWrap {
  height: 100%;
  width: 100%;
  padding: 128px;
  cursor: default;

  & :global(.close) {
    top: 139px !important;
    right: 139px !important;
  }
}

.modal {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #000 url('/img/profile/bg.png') no-repeat center / cover;
  border: 1px solid #0B4454;
  border-radius: 14px;
}

.upload {
  width: 256px;
}

.btn {
  margin-top: 20px;
}

.login {
  margin-top: 20px;
  color: #FDFDFD;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: -0.56px;
  text-transform: uppercase;

  @media (max-width: 1199px) {
    margin-top: 0;
    font-size: 24px;
  }
}

.countryBlock {
  :global .select, :global select {
    height: 56px;
    width: 280px;

    @media (max-width: 1199px) {
      height: 48px;
      width: 216px;
    }
  }
}

:global(button.tertiary).changePasswordButton {
  margin: 48px 0 8px 0;

  &:before {
    background: linear-gradient(180deg, rgba(0, 255, 255, 0.35) 0%, rgba(0, 255, 255, 0.05) 100%);
    background-clip: padding-box;
  }
}

.wallet {
  margin-top: 32px;
}

.changePasswordBlock {
  width: 100%;
  padding: 80px 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 1199px) {
    padding: 40px 0;
  }
}

.changePasswordTitle {
  margin-bottom: 64px;
  color: #FFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
  text-align: center;
  text-transform: capitalize;

  @media (max-width: 1199px) {
    font-size: 32px;
  }
}

.newPasswordInput {
  input {
    height: 48px;
    width: 320px;
  }
}

.confirmPasswordInput {
  margin-top: 6px;

  input {
    height: 48px;
    width: 320px;
  }
}

:global(button.tertiary).confirmButton {
  height: 64px;
  width: 320px;
  margin-top: 32px;
  background: none;
  color: #088A8C;

  &:before {
    background: none;
    border: 2px solid rgba(128, 255, 255, 0.75);
  }
}

.changePasswordSuccessBlock {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 1199px) {
    padding-top: 40px;
  }
}

.changePasswordSuccessTitle {
  color: #FFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
  text-align: center;
  text-transform: capitalize;

  @media (max-width: 1199px) {
    font-size: 32px;
  }
}

.changePasswordSuccessText {
  margin-top: 6px;
  color: #FDFDFD;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

:global(button.tertiary).continueButton {
  height: 64px;
  width: 320px;
  margin-top: 32px;
  background: none;
  color: #088A8C;

  &:before {
    background: none;
    border: 2px solid rgba(128, 255, 255, 0.75);
  }
}

.walletBlock {
  height: 56px;
  width: 80%;
  margin-top: 32px;
  max-width: 280px;

  :global .select {
    height: 56px;
  }
}

:global(button.tertiary).walletButton {
  height: 56px;
  width: 80%;
  margin-top: 8px;
  font-size: 16px;
  max-width: 280px;
}

.walletWarning {
  margin: 20px 0 32px 0;
  align-items: center;
  color: #FF7A00;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 16px;
  text-transform: uppercase;
}

.walletWarningIcon {
  margin-right: 5px;
}

.userInfo {
  text-align: center;

  @media (max-width: 1199px) {
    margin-left: 20px;
  }
}
