.outdated {
  height: 100%;
  background: #1e1e1e;
  color: #fff;
  text-align: center;
  font-weight: 500;
  position: relative;
  z-index: 1000;

  &Cont {
    height: 100%;
  }

  &Browsers {
    margin-top: 70px;
  }

  &Browser {
    width: 115px;
    margin: 30px 30px 0;
    display: inline-block;
  }

  &BrowserLogo {
    width: 92px;
    height: 92px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &.chrome {
      background-image: url('/img/outdated/chrome.png');
    }

    &.firefox {
      background-image: url('/img/outdated/firefox.png');
    }

    &.safari {
      background-image: url('/img/outdated/safari.png');
    }

    &.opera {
      background-image: url('/img/outdated/opera.png');
    }
  }

  &BrowserName {
    margin-top: 15px;
    color: #04E0EF;
    text-transform: uppercase;
    white-space: nowrap;
    text-decoration: none;
  }
}

.title {
  font-size: 24px;
}

.subtitle {
  font-size: 20px;
}
