.checkbox, .checkbox + label {
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
}

.checkbox {
  width: 18px;
  height: 18px;
}

.checkbox + label {
  padding-left: 10px;
}

.checkboxWrapper {
  display: flex;
  flex-direction: column;

  & a {
    color: #FF7A00 !important;
  }
}

input.checkbox.invalid {
  box-shadow: inset 0 0 0 2px #FF9E59;
}
