.notFoundPage {
  height: 100%;
  width: 100%;
  align-items: center;
  background: url("/img/forest-bg.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  overflow: auto;
}

.contentWrapper {
  height: 640px;
  width: 1280px;
  border: 2px solid rgba(128, 255, 255, 0.75);
  border-radius: 20px;

  @media (max-width: 1599px) {
    height: 560px;
    width: 800px;
  }

  @media (max-width: 1199px) {
    height: 480px;
    width: 800px;
  }

  @media (max-width: 899px) {
    height: 560px;
    width: 100%;
  }
}

.content {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  margin: 5px;
  padding: 20px;
  align-items: center;
  background: linear-gradient(180deg, rgba(0, 255, 255, 0.05) 0%, rgba(0, 255, 255, 0.00) 100%);
  border-radius: 15px;
  border: 2px solid rgba(0, 255, 255, 0.30);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.error {
  @media (max-width: 1599px) {
    height: 225px;
    width: 411px;
  }

  @media (max-width: 1199px) {
    height: 180px;
    width: 324px;
  }

  @media (max-width: 899px) {
    height: 135px;
    width: 243px;
  }
}

.text {
  margin-top: 20px;
  color: #FFF;
  font-size: 48px;
  font-style: normal;
  font-weight: 1000;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;

  @media (max-width: 1199px) {
    font-size: 40px;
  }

  @media (max-width: 899px) {
    font-size: 24px;
  }
}

.description {
  margin-top: 40px;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  text-align: center;

  @media (max-width: 1599px) {
    margin-top: 32px;
  }

  @media (max-width: 1199px) {
    font-size: 20px;
  }

  @media (max-width: 899px) {
    margin-top: 40px;
  }
}

.button {
  width: 280px;
  margin-top: 40px;

  :global(a.button.tertiary) {
    height: 64px;
    width: 100%;
    font-size: 20px;

    &:before {
      background: linear-gradient(180deg, rgba(0, 255, 255, 0.35) 0%, rgba(0, 255, 255, 0.05) 100%);
      backdrop-filter: blur(10px);
      background-clip: padding-box;
    }
  }

  @media (max-width: 1599px) {
    margin-top: 32px;
  }

  @media (max-width: 899px) {
    margin-top: 40px;
  }
}
