.google {
  min-width: 64px !important;
  height: 44px !important;
  margin: 20px 5px 0;
  padding: 0 !important;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: rgba(0, 255, 255, 0.35) !important;
  border: 2px solid rgba(0, 255, 255, 0.35);
  border-radius: 32px;

  &.icon {
    height: 64px !important;
  }

  & > div {
    min-width: 40px;
  }
}
