/* @import "../../../css/root.css"; */

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:#01131aed;
  font-family: 'Gilroy';
}

.modal {
  position: relative;
  background: url("/img/forest-bg.jpg") no-repeat center center / cover,
    linear-gradient(118.88deg, #01131a -2.2%, #002e2a 115.26%);
  background-blend-mode: luminosity;
  padding: 0px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.registerModal {
  color: white;
  position: relative;
  padding: 50px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #00bcd4;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  padding-bottom: 20px;
  background: none;
  border: none;
  color: #00bbd465;
  font-size: 24px;
  cursor: pointer;
}

.header {
  text-align: center;
  margin-bottom: 20px;

  h2 {
    margin: 0;
  }

  p {
    margin: 0;
    font-size: 14px;

    a {
      color: #FF7733;
      text-decoration: none;
    }
  }
}

.icons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;

  .iconButton {
    background: none;
    border: 2px solid #00bcd4;
    border-radius: 50%;
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;

    img {
      width: 30px;
      height: 30px;
    }

    &:hover {
      background: #00bcd4;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;

  input,
  select {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2em;
    color: #45E6E6 !important;
    font-weight: 700;
    backdrop-filter: blur(15px);
    border-radius: 50px;
    border: 3px solid #48b8bb34;
    max-width: 380px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    outline: none;
    box-shadow: none;
  }

  .error {
    /* color: #ff4d4f; */
    background: linear-gradient(180deg, #FF9E59 0%, #FF7733 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
    padding-left: 10px;
  }
}

.checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  max-width: fit-content;
  
  input {
    color: #00bcd4;
    /* margin-right: 10px; */
    cursor: pointer !important;
    width: 30px;
    height: 30px;
  }

  label {
    font-size: 12px;
  }

}
.terms{
  padding:5px;
  
  a {
    color: #00bcd4;
    text-decoration: none;
  }

}
button {
  padding: 10px;
  border-radius: 50px;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}

@media (max-width: 768px) {
  .modal {
    max-width: 90%;
  }

  .form input,
  .form select {
    max-width: 100%;
  }
}
