@import "../../../css/root.css";


.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal {
  position: relative;
  background: url("/img/forest-bg.jpg") no-repeat center center / cover,
    linear-gradient(118.88deg, #01131a -2.2%, #002e2a 115.26%);
  background-blend-mode: luminosity;

  padding: 0px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.registerModal {
  color: white;
  position: relative;
  padding: 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  background: none;
  border: none;
  color: #00bbd465;
  font-size: 24px;
  cursor: pointer;
}

.header {
  text-align: center;
  margin-bottom: 20px;

  h2 {
    margin: 0;
  }

  p {
    margin: 0;
    font-size: 14px;

    a {
      color: #00bcd4;
      text-decoration: none;
    }
  }
}

.icons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap:10px;

  .iconButton {
    background: none;
    border: 2px solid #00bcd4;
    border-radius: 50%;
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;

    img {
      width: 30px;
      height: 30px;
    }

    &:hover {
      background: #00bcd4;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;

  input,
  select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #08acc292;
    border-radius: 5px;
    font-size: 14px;
    color: #08acc292;
        backdrop-filter: blur(15px);
      border-radius: 50px;
      /* padding: 5px 15px; */
      font-size: 1.1em;
      /* margin: 40px auto; */
      border: 3px solid #48b8bb34;
      max-width: 380px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    outline: none;
    box-shadow: none;


  }


  .checkbox,
  .terms {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    input {
      margin-right: 10px;
    }

    label {
      font-size: 12px;
    }

    a {
      color: #00bcd4;
      text-decoration: none;
    }
  }

  .registerButton {
    padding: 10px;
    background-color: #00bcd4;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;

    &:hover {
      background-color: #009cb4;
    }
  }
}
