.userTitans {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.header {
  height: 80px;
  width: 100%;
  padding: 8px 60px;
  align-items: center;
  background: linear-gradient(180deg, rgba(0, 255, 255, 0.00) 0%, rgba(0, 255, 255, 0.10) 100%);
  background-blend-mode: overlay;
  border-bottom: 2px solid #08494D;
  display: flex;
}

.userInfo {
  height: 168px;
  width: 100%;
  padding: 16px 20px;
  margin-top: 48px;
  align-items: center;
  background: linear-gradient(180deg, rgba(0, 255, 255, 0.00) 0%, rgba(0, 255, 255, 0.10) 100%);
  background-blend-mode: overlay;
  border-radius: 20px;
  border-bottom: 2px solid #084549;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.titans {
  margin: 40px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.userIcon {
  height: 80px;
  width: 80px;
  position: relative;
  background: url('/img/user-icon.png') no-repeat center / cover;
  border-radius: 16px;
  flex-shrink: 0;
}

.userName {
  color: #FFF;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
  text-transform: capitalize;
}

:global(button.tertiary).backButton {
  height: 56px;

  img {
    width: 10px;
  }
}